<h1>{{title}}</h1>

{{#if duplicate}}
  <div class="alert alert-danger">This image has already been uploaded at <a href="/images/{{duplicate}}">/images/{{duplicate}}</a></div>
{{/if}}

{{#if error}}
  <div class="alert alert-danger">{{error}}</a></div>
{{/if}}
<form method="post" enctype="multipart/form-data" class="form-horizontal">
  <h5>Common Attributes:</h5>
  <div class="form-group">
    <label for="character" class="control-label col-sm-1">Character</label>
    <div class="col-sm-11">
      <input type="text" name="character" class="form-control" id="character" value="{{character}}">
    </div>
  </div>
  <div class="form-group">
    <label for="emotion" class="control-label col-sm-1">Emotion</label>
    <div class="col-sm-11">
      <input type="text" name="emotion" list="emotion-datalist" class="form-control" id="emotion" value="{{emotion}}">
    </div>
  </div>
  <div class="form-group">
    <label for="emotion" class="control-label col-sm-1">Text</label>
    <div class="col-sm-11">
      <input type="text" name="text" class="form-control" id="text" value="{{text}}">
    </div>
  </div>
  <div class="form-group">
    <label for="tags" class="control-label col-sm-1">Tags</label>
    <div class="col-sm-11">
      <input type="text" name="tags" class="form-control" id="tags" value="{{tags}}">
    </div>
  </div>
  <div class="form-group">
    <label for="comments" class="control-label col-sm-1">Comments</label>
    <div class="col-sm-11">
      <textarea name="comments" id="comments" class="form-control" id="comments" value="{{comments}}"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="image" class="control-label col-sm-1">Image Files</label>
    <div class="col-sm-11">
      <input type="file" name="imagemultiple" id="imagemultiple" class="form-control" multiple><br/>
    </div>
  </div>
  <button name="nextstep" id="nextstep" value="Next Step" type="button" class="btn btn-info">Next Step</button><br/>
  <p>Images:</p>
  <div class="col-sm-12" id="multiimageedit">

  </div>
  <img id="imagepreview" />
</form>

{{{{raw}}}}
<script id="imageedit-template" type="text/x-handlebars-template">
  <div class="row">
    <div class="col-sm-6"><img style="max-width: 100%" src="{{imageurl}}"></div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="character" class="control-label col-sm-1">Character</label>
        <div class="col-sm-11">
          <input type="text" name="charactermultiple" class="form-control" id="charactermultiple" value="{{character}}">
        </div>
      </div>
      <div class="form-group">
        <label for="emotion" class="control-label col-sm-1">Emotion</label>
        <div class="col-sm-11">
          <input type="text" name="emotionmultiple" class="form-control" id="emotionmultiple" value="{{emotion}}">
        </div>
      </div>
      <div class="form-group">
        <label for="emotion" class="control-label col-sm-1">Text</label>
        <div class="col-sm-11">
          <input type="text" name="textmultiple" class="form-control" id="textmultiple" value="{{text}}">
        </div>
      </div>
      <div class="form-group">
        <label for="tags" class="control-label col-sm-1">Tags</label>
        <div class="col-sm-11">
          <input type="text" name="tagsmultiple" class="form-control" id="tagsmultiple" value="{{tags}}">
        </div>
      </div>
      <div class="form-group">
        <label for="comments" class="control-label col-sm-1">Comments</label>
        <div class="col-sm-11">
          <textarea name="commentsmultiple" id="commentsmultiple" class="form-control" id="commentsmultiple">{{comments}}</textarea>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</script>
{{{{/raw}}}}
